.header {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.header h2 {
  font-size: 3rem;
  line-height: 3.5rem;
}

.ratingContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}

.icon {
  color: var(--color-primary);
  font-size: 2.3rem;
}

.ratingText {
  font-size: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
}

.voteCount {
  font-size: 0.8rem;
}