.movies {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 48%;
  gap: 1rem;
  overflow: scroll;
}

.movies h3 {
  font-size: 1rem
}

/* Tablet */
@media (min-width: 600px) {
  .movies {
    grid-auto-columns: 33%;
  }

}

/* Desktop */
@media (min-width: 1224px) {
  .movies {
    grid-auto-columns: 23%;
  }

  .movies h3 {
    font-size: 1.2rem
  }
}
